.myTasks_container{
    background-color: #F8FAFC !important;
    min-height: 560px;
}

.card-row{
    margin:0 30px;
}
.allCard_container{
    margin: 0 auto;
}

.card_data{
    padding: 10px;
}
.card_container{
    float: left;
    max-width:28.125rem;
    margin: 20px; 
}
.card-body button{
    margin: 40px 35%!important;
}

@media screen and (max-width: 1200px) {
    .card_container{
        max-width:25rem;
    }
    .card-row{
        margin:0 5px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 992px) {
    .card_container{
        max-width:30rem;
        margin: 0 auto;
    }
    .card-row{
        margin:0 ;
    }
  }
  @media screen and (max-width: 600px){
    .card_container{
        max-width:20rem;
        margin: 0 auto;
    }
    .card-row{
        margin:0 5px;
    }
  }